dash==1.13.4
lifetimes==0.11.3
numpy==1.18.1
pandas==1.0.3
plotly==4.8.1
pyarrow==0.15.1
dash-core-components==1.12.0
dash-html-components==1.1.1
dash-bootstrap-components==0.10.6
dash-table==4.10.1
plotly-express==0.4.1
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.15.3